<body>
<div id="wrapper">
<?php print($this->element('admin/header')); ?>
<!-- /wrapper --></div>
<div id="contents">
<ul id="ttl">
  <li class="h2"><img src="/material/admin/images/common/icon_infomation.gif" width="43" height="37" alt="アイコン">&nbsp; インフォメーション管理</li>
  <li class="signup"><a href="/<?php print(APP_NAME); ?>/information_edit/"><img src="/material/admin/images/top/btn_signup.gif" width="99" height="25" alt="新規登録"></a></li>
 </ul>
 <p class="clear"></p>

<script language="JavaScript">
<!--
	function delete_chk(id) {
		res = confirm("削除してもよろしいですか？");
		if (res == true) {
			location.href="/<?php print(ROOT_TO_PATH); ?>/cmd=delete/id=" + id + "<?php print(isset($PARAM) == true ? '/'.$PARAM : ''); ?>";
		} else {
			return false;
		}
	}
// -->
</script>

 <table>
 <tr><th>日付</th><th>タイトル</th><th>操作</th></tr>

<?php if (count($tpl_disp['main_list']) > 0) { ?>
<?php foreach($tpl_disp['main_list'] AS $inc => $row) { ?>
 <tr>
   <td><img src="/material/admin/images/top/icon_day.gif" width="13" height="13">&nbsp; <?php print($row['info_date']); ?></td>
   <td class="dash"><a href="/<?php print(APP_NAME); ?>/information_edit/id=<?php print($row['information_id']); ?>"><?php print($row['title']); ?></a></td>
   <td><a href="JavaScript:void(0);" onclick="return delete_chk(<?php print($row['information_id']); ?>)">削除</a> / <a href="/iis/information_detail/id=<?php print($row['information_id']); ?>" target="_blank">IIS表示確認</a></td></tr>
<?php } } else { ?>
<tr>
<td colspan="3">情報は登録されていません。</td>
</tr>
<?php } ?>
</table>
<div class="paging">
<?php if ($tpl_disp['navi']['direct_navi'] != '') { ?>
<?php print($tpl_disp['navi']['direct_navi_first']); ?><?php print($tpl_disp['navi']['direct_navi']); ?><?php print($tpl_disp['navi']['direct_navi_last']); ?>
<?php } ?>
</div>
<!-- /contents --></div>
<?php print($this->element('admin/footer')); ?>
</body>
