<IfModule mod_rewrite.c>
    RewriteEngine On

 #RewriteCond %{HTTP_HOST} ^(www.kric.co.jp)(:80)?
 #RewriteRule ^(.*) http://kric.co.jp/member/$1 [R=301,L]
# RewriteCond %{HTTP_HOST} ^(www.kric.co.jp)(:443)?
# RewriteRule ^(.*) https://kric.co.jp/member/$1 [R=301,L]

    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ ../app.php [QSA,L]
</IfModule>
